@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$accent: #ffff00;
$fontColor: #808080;
$black: #1f1f1f;
$hard-dark-accent: darkest($accent, 30%);
$dark-accent: darkest($accent, 18%);

/* https://dribbble.com/shots/17358553-Sportly-Running-Record-Stats-Activity-Log-and-Challenge */

$bx-accent: 0px 8px 13px 11px rgba(47, 47, 47, 0.26);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Sofia Sans', sans-serif;

$mobile: 480px;
